<div id="footer">
	<p><span>Let’s Be Buds</span> was lovingly made in <span>Denver, CO</span></p>
	<ul>
		<li><a href="/contact">contact us</a></li>
		<li><a href="http://twitter.com/letsbebuds">follow us</a></li>
		<li><a href="/privacy">privacy</a></li>
		<li><a href="/terms">terms</a></li>
	</ul>
</div>