<div id="footer">
	<p><span>Let’s Be Buds</span> was lovingly made in <span>Denver, CO</span></p>
	<ul>
		<li><a href="#">contact us</a></li>
		<li><a href="#">follow us</a></li>
		<li><a href="#">privacy</a></li>
		<li><a href="#">legal</a></li>
	</ul>
</div>