<div class="coupon">
	<div class="coupon-holder">
		<div class="coupon-text">
			<p>$25 off steaks at Denver Steak Club on 20th in Uptown!</p>
		</div>
		<div class="coupon-img">
			<div class="img-holder"><a href="/products/<%= @featured_product.permalink %>"><img src="http://s3.amazonaws.com/letsbebuds/assets/products/1030/feature/food_steak.jpg?1291517729" alt="image description" width="340" height="300" /></a></div>
		</div>
	</div>
	<div class="row">
		<a href="/products/<%= @featured_product.permalink %>" class="btn-buy-now">buy now</a>
		<div class="arrow">
			<span class="discount">save<br/>50%</span>
			<span class="bought">1265 bought</span>
			<span class="time">18 days 45 minutes</span>
		</div>
	</div>
</div>
<div class="socials">
	<ul>
		<li><a href="#" class="mail">mail</a></li>
		<li><a href="#" class="twitter">twitter</a></li>
		<li><a href="#" class="facebook">facebook</a></li>
	</ul>
</div>
<div class="main-content">
	<div id="content">
		<div class="heading about">
			<h2>about the deal</h2>
		</div>
		<div class="content-text">
			<p>Preferred Organic Therapy Header style as 700</p>
			<div class="address">
				<address>
					1234 address lane style as 300<br/>
					Denver, CO 80205
				</address>
				<p><a href="#">This is a link to the store website</a></p>
			</div>
			<ul class="list">
				<li>* More terms here just like this More terms here just like this More terms here just like this More terms here just like this</li>
				<li>* More terms here just like this More terms here just like this More terms here just like this More terms here just like this</li>
				<li>* More terms here just like this More terms here just like this More terms here just like this More terms here just like this</li>
				<li>* More terms here just like this More terms here just like this More terms here just like this More terms here just like this</li>
			</ul>
		</div>
		<div class="heading phone">
			<h2>deals to your phone</h2>
		</div>
		<div class="content-text">
			<form action="#" class="form-phone">
				<fieldset>
					<div class="row">
						<input type="text" title="Phone number" value="Phone number" class="text" />
					</div>
					<div class="row">
						<input type="text" title="Carrier" value="Carrier" class="text" />
					</div>
					<div class="btn-row">
						<input type="submit" value="" class="btn" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div id="sidebar">
		<div class="heading other">
			<h2>other deals and coupons</h2>
		</div>
		<div class="sidebar-text">
			<ul class="list-other">
				<li>
					<div class="info">
						<strong>15%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3><a href="#">Big Link 700</a></h3>
						<p>body at 700 but smaller pt. body at 700 but smaller pt. style please</p>
					</div>
				</li>
				<li>
					<div class="info">
						<strong>15%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3>Big Text 700</h3>
						<p>body at 700 but smaller pt. body at 700 but smaller pt. style please</p>
					</div>
				</li>
				<li>
					<div class="info">
						<strong>15%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3>1 Quarter</h3>
						<p>body at 700 but smaller pt. body at 700 but smaller pt. style please</p>
					</div>
				</li>
				<li>
					<div class="info">
						<strong>15%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3>1 Quarter</h3>
						<p>body at 700 but smaller pt. body at 700 but smaller pt. style please</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
